<section>
  {{#each posts}}
  <div>
    <h3 class="postDescription">{{ this.name }}</h3>
     <a class="picLink" href="gag/{{this._id}}"><img class="postImage" src={{this.url}} alt="Loading Image"></a>
<div class="postProperties">
    <button class="btn-post" url="/like/{{this._id}}" type="submit"><i class="material-icons">thumb_up</i></button>
    <button class="btn-post" url="/dislike/{{this._id}}" type="submit"><i class="material-icons">thumb_down</i></button>
    <button class="btn-comment" onclick="location.href='/gag/{{this._id}}'"><i class="material-icons">comment</i></button>
</div>
</div>

  {{/each}}
</section>