
<section>
  {{#each posts}}
    <h3 class="postDescription">{{ this.name }}</h3>

    <a class="fakeLink" href="gag/{{this._id}}">
    <img class="postImage" src={{this.url}} alt="Loading Image"></a>
<div class="postProperties">
   <button class="btn-post" url="/like/{{this._id}}"><i class="material-icons">thumb_up</i></button>
    <button class="btn-post" url="/dislike/{{this._id}}"><i class="material-icons">thumb_down</i></button>
    <button class="btn-post"><i class="material-icons">comment</i></button>
      <form action="/delete/{{this._id}}" method="post">
      <button class="btn" type="submit">Delete</button>
      </form>
</div>

  {{/each}}
</section>